body{
    background-color: rgb(11, 18, 31)

}

.cintillo{
    background-color: rgb(11, 18, 31)
}

a {
    text-decoration: none;
}

h1{

    color:rgb(255, 255, 255)
}

.titulo{
    font-size: 60px;
}

.marquee{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee-content{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 50s linear infinite;
}

.marquee-content img {
    margin-right: 20px;
}

@keyframes scroll {
    0%   { transform: translateX(100%);}
    100% { transform: translateX(-100%);}
}

h2{
    color:rgb(255, 255, 255)
}

h3{
    color:rgb(255, 255, 255)
}

h4{
    color:rgb(255, 255, 255)
}

h5{
    color:rgb(255, 255, 255)
}

p{
    color:rgb(255, 255, 255)
}

.grean{
    background-color:rgb(159, 239, 0);
    color:rgb(20, 29, 43);
    transition: background-color 0.3s rgb(187, 255, 52);
}

.button{
    font-size: 16px ;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display:flex ;
    margin: 2px 6px 2px 2px;
}

.grean:hover{
    background-color: rgb(187, 255, 52);
}

.gray{
    background-color:rgb(32, 40, 55);
    color:rgb(164, 177, 205);
    transition: background-color 0.3s rgb(32, 40, 55);
}

.gray:hover{
    background-color: rgb(164, 177, 205);
    color: rgb(255, 255, 255);
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.zoom-link {
    transition: transform 0.3s ease;
}

.zoom-link:hover {
    transform: scale(1.05);
}

.box1 {
    display: flex;
    padding: 1px;
    margin: 2px 2px 2px 30px;
}

.box2 {
    display: flex;
    justify-content: center;
}

.radio {
    border-radius: 10px;
}

.subtitle {
    font-size: 40px;
}

.box3{
    display: flex;
    justify-content: center;
    margin: 10px 2px 2px 2px;
}

.box4{
    display: flex;
    justify-content: space-around;
    margin: 150px 20px 150px 20px;
}

.panel {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.item {
    flex-shrink: 0;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}

.box5 {
    display: flex;
}