body{
    background-color: rgb(11, 18, 31)

}

.cintillo{
    background-color: rgb(11, 18, 31)
}

h1{

    color:rgb(255, 255, 255)
}

.titulo{
    font-size: 4rem;
}

.marquee{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee-content{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 50s linear infinite;
}

.marquee-content img {
    margin-right: 20px;
}

@keyframes scroll {
    0%   { transform: translateX(100%);}
    100% { transform: translateX(-100%);}
}

h2{
    color:rgb(255, 255, 255)
}

h3{
    color:rgb(255, 255, 255)
}

h4{
    color:rgb(255, 255, 255)
}

h5{
    color:rgb(255, 255, 255)
}

p{
    color:rgb(255, 255, 255)
}

.button-grean{
    background-color:rgb(159, 239, 0);
    color:rgb(20, 29, 43);
    font-size: 16px ;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s rgb(187, 255, 52);
}

.button-grean:hover{
    background-color: rgb(187, 255, 52);
}

.button-gray{
    background-color:rgb(32, 40, 55);
    color:rgb(164, 177, 205);
    font-size: 16px ;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s rgb(32, 40, 55);
}

.button-gray:hover{
    background-color: rgb(164, 177, 205);
    color: rgb(255, 255, 255);
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.zoom-link {
    transition: transform 0.3s ease;
}

.zoom-link:hover {
    transform: scale(1.05);
}
