body{
    background-color: rgb(11, 18, 31)
}

.cintillo{
    background-color: rgb(11, 18, 31)
}

h1{

    color:rgb(255, 255, 255)
}

h2{
    color:rgb(255, 255, 255)
}

h3{
    color:rgb(255, 255, 255)
}

h4{
    color:rgb(255, 255, 255)
}

h5{
    color:rgb(255, 255, 255)
}

p{
    color:rgb(255, 255, 255)
}

.button-grean{
    background-color:rgb(159, 239, 0);
    color:rgb(20, 29, 43);
    font-size: 16px ;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s rgb(187, 255, 52);
}
.button-grean:hover{
    background-color: rgb(187, 255, 52);
}